In [7]:
#CONTAINER LIST
#PART 1
#MEMBUAT LIST
warna =['merah','hijau','hitam','pink']
novel =['Laskar Pelangi','Andrea Hirata',2008,True,['Drama', 'Family']]
print(warna)
print(novel)

['merah', 'hijau', 'hitam', 'pink']
['Laskar Pelangi', 'Andrea Hirata', 2008, True, ['Drama', 'Family']]

In [8]:
#INDEXING
print(warna[1])

hijau

In [9]:
print(warna[-2])

hitam

In [10]:
warna.index('hijau')

1

In [13]:
#SLICING
#nama_list[index_awal : index_akhir+1]
warna =['merah','hijau','hitam','pink']
print(warna[1:3])

['hijau', 'hitam']

In [20]:
warna =['merah','hijau','hitam','pink']
print(warna[1:])
print(warna[:4])

['hijau', 'hitam', 'pink']
['merah', 'hijau', 'hitam', 'pink']

In [23]:
#MANIPULASI ELEMEN LIST
#MENGGANTI ELEMEN
warna =['merah','hijau','hitam','pink']
warna[1]= 'putih'
print(warna)

['merah', 'putih', 'hitam', 'pink']

In [24]:
#MENAMBAHKAN ELEMEN
warna.append('hitam')
print(warna)

['merah', 'putih', 'hitam', 'pink', 'hitam']

In [25]:
#MENGETAHUI JUMLAH ELEMEN 
print(len(warna))

5

In [27]:
#MENGHAPUS ELEMEN
warna =['merah','hijau','hitam','pink','hitam']
del(warna[3])
print(warna)

['merah', 'hijau', 'hitam', 'hitam']

In [28]:
#SORTIR
nilai =[20,50,-10,80,100,-5]
nilai.sort()
print(nilai)

[-10, -5, 20, 50, 80, 100]

In [30]:
nilai.sort(reverse=True)
print(nilai)

[100, 80, 50, 20, -5, -10]

In [31]:
#PART 2
#MEMBUAT TUPLE
warna =['merah','hijau','hitam','pink']
novel =['Laskar Pelangi','Andrea Hirata',2008,True,['Drama', 'Family']]
print(warna)
print(novel)

['merah', 'hijau', 'hitam', 'pink']
['Laskar Pelangi', 'Andrea Hirata', 2008, True, ['Drama', 'Family']]

In [33]:
#MERUBAH DARI LIST KE TUPLE
kota =['jakarta','bandung','tasikmalaya','bogor']
kota =tuple(kota)
print(kota)

('jakarta', 'bandung', 'tasikmalaya', 'bogor')

In [35]:
#MERUBAH DARI TUPLE KE LIST
warna =('merah','hijau','kuning','biru')
warna =list(warna)
print(warna)

['merah', 'hijau', 'kuning', 'biru']

In [38]:
#INDEXING
buah =('jambu','anggur','melon','semangka','durian')
print(buah[4])

durian

In [41]:
#SLICING
#nama_list[index_awal : index_akhir+1]
hasil_slicing =buah[0:4]
print(hasil_slicing)

('jambu', 'anggur', 'melon', 'semangka')

In [42]:
#MANIPULASI ELEMEN (BERSIFAT IMMUTABLE ARTINYA TIDAK DAPAT DI MANIPULASI)
#MENGUBAH ELEMEN PADA TUPLE
buah =('anggur','semangka','melon','cerry')
buah(2) ='alpukat'
print(buah)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1865809933.py, line 4)

In [43]:
#MENAMBAHKAN ELEMEN
buah.append('rasberry')
print(buah)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
#MENGHAPUS ELEMEN
buah =('anggur','semangka','melon','cerry')
del(buah[3])
print(buah)

TypeError: 'tuple' object doesn't support item deletion

In [46]:
#PART 3
#SET HANYA MENYIMPAN DATA YANG BERBEDA
#MEMBUAT SET
hewan ={'kucing','katak','ular','buaya'}
print(hewan)

{'buaya', 'katak', 'kucing', 'ular'}

In [48]:
#MEMBUUAT LIST KE SET
hewan =['kucing','katak','ular','buaya']
hewan =set(hewan)
print(hewan)

{'buaya', 'katak', 'kucing', 'ular'}

In [50]:
#DI DALAM SET TIDAK DAPAT MELAKUKAN PROSES INDEXING DAN SLICING

#MANIPULASI ELEMEN
#MENAMBAHKAN ELEMEN
hewan ={'kucing','katak','ular','buaya'}
hewan.add('sapi')
print(hewan)

{'sapi', 'kucing', 'ular', 'katak', 'buaya'}

In [51]:
#MENGHAPUS ELEMEN
hewan.remove('katak')
print(hewan)

{'sapi', 'kucing', 'ular', 'buaya'}